.fare-conditions-box .title {
  font-weight: bold;
  color: #f26b21;
  margin: 0 0 10px; }

.fare-conditions-box table, .fare-conditions-box tbody, .fare-conditions-box tr, .fare-conditions-box td, .fare-conditions-box th {
  display: block;
  border: 0 !important;
  font-size: 13px; }

.fare-conditions-box table {
  margin: 15px 0; }
  .fare-conditions-box table tr {
    margin-bottom: 15px; }
    .fare-conditions-box table tr td {
      padding: 3px 0 !important; }
      .fare-conditions-box table tr td:nth-of-type(1) {
        font-weight: bold;
        color: #000;
        text-transform: uppercase;
        width: 100% !important; }
        .fare-conditions-box table tr td:nth-of-type(1) br {
          display: none; }
        .fare-conditions-box table tr td:nth-of-type(1) .note {
          text-transform: none;
          font-weight: normal; }

.fare-conditions-box ul li {
  padding: 5px 0;
  margin-bottom: 10px; }
  .fare-conditions-box ul li > strong:nth-of-type(1) {
    font-weight: 600;
    color: #000;
    text-transform: uppercase;
    display: block;
    margin-bottom: 5px; }
